@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}
*{
  font-size: 17px;
  font-family: "JetBrainsMono Nerd Font";
  color: white;
  font-weight: 800;
  min-height: 0;
  font-style: italic;
}

#waybar {
  border-radius:30px;
  background-color: alpha (black, 0.33);
  padding: 0px 0px 0px 0px;
}
#workspaces{
   border-radius:30px;
   padding: 0px 15px 0px 15px;
   color: white;
}


#cpu,
#pulseaudio,
#pulseaudio#microphone,
#window,
#memory,
#language,
#tray,
#workspaces,
#network,
#wireplumber,
#battery,
#idle_inhibitor,
#custom-lizzy,
#custom-power,
#network,
#wireplumber,
#bluetooth,
#backlight,
#bluetooth,
#wireplumber,
#idle_inhibitor,
#workspaces,
#custom-lizzy,
#battery,
#keyboard-state,
#custom-clock,
#clock,


#dwl-tags {
padding: 0px 15px 0px 15px;
}


#tags button.occupied {
padding: 0px 15px 0px 15px;
background-color: blue;
}

#tags button.focused {
padding: 0px 15px 0px 15px;
background-color: purple;
}

#tags button.urgent {
padding: 0px 15px 0px 15px;
background-color: red;
}


#network {
  border-radius:30px;
   padding: 0px 15px 0px 15px;
}

#custom-weather{
border-radius:30px;
padding: 0px 15px 0px 15px;
}


#custom-pacman{
  border-radius:30px;
  padding: 0px 15px 0px 15px;
  background-color: red;
}

#idle_inhibitor {
  border-radius:30px;
  padding: 0px 21px 0px 13px;
}

#bluetooth{
 border-radius:30px;
  padding: 0px 15px 0px 15px;
}

#idle_inhibitor.activated{
; color:#e57474;
color: yellow;
 background-color: alpha (purple, 0.7);
 border-radius:30px;
 padding: 0px 21px 0px 13px;
}

#custom-power{
  color:white;
  padding: 0px 15px 0px 15px;
  border-radius:15px;
  font-size: 19px;
}

#custom-arch {
  margin-left: 15px;
  padding: 0px 15px 0px 15px;
  border-radius:15px;
  color:white;
  font-size: 21px;
}

#workspaces button:hover {
  background-color: alpha (green, 0.3);
  border-radius:15px;
}


#workspaces button.active {
  background-color: alpha (green, 0.99);
  border-radius:30px;
}

#workspaces button.urgent {
  background-color: #f00000;
  border-radius:30px;
}

#sway-language {
  border-radius:30px;
  padding: 0px 15px 0px 15px;
   font-size: 21px;
}

#custom-clock {
  border-radius:30px;
;  background-color: alpha (green, 0.5);
  background-color: green;
  padding: 0px 20px 0px 20px;
  font-size: 21px;
  color: white;
}

#clock {
  border-radius:30px;
  padding: 0px 20px 0px 20px;
  font-size: 19px;
}

#custom-notifications {
  border-radius:10px;
  padding: 0px 15px 0px 15px;
   font-size: 19px;
}

#custom-swaync {
  border-radius:10px;
  padding: 0px 5px 0px 5px;
}


#pulseaudio {
  border-radius:10px;
  padding: 0px 15px 0px 15px;
   font-size: 19px;
}

#pulseaudio#microphone {
  border-radius:10px;
  padding: 0px 0px 0px 0px;
}

#taskbar {
  border-radius:10px;
  padding: 0px 15px 0px 15px;
}

#power-profiles-daemon {
  border-radius:10px;
  padding: 0px 15px 0px 15px;
}


#keyboard-state {
 border-radius:10px;
 padding: 0px 15px 0px 15px;
}

#backlight {
 border-radius:10px;
 padding: 0px 15px 0px 15px;
}

#keyboard-state.locked {
 color:#e57474;
 border-radius:10px;
 padding: 0px 15px 0px 15px;
}

#battery {
    border-radius:10px;
    padding: 0px 15px 0px 15px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
 color: orange;
}

#battery.critical {
 color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 1s;
}
